$cell-border-color : #CCCCCC;
$cell-dark-border-color : #000000;
$cell-disabled-color: #EEEEEE;
$cell-error-color: #FF0000;
$cell-error-bg-color: #FFC0CB;
$header-bg-color : #5F5F5F;
$header-font-color : #F1F1F1;
$loader-border-color : #0062CC;
$loader-top-color : #5F5F5F;

$box-shadow : 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
$header-shadow : 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);